<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<title>钱包</title>
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img th:src="@{images/yue.png}" class="card-img-top" alt="余额">
                <div class="card-body">
                    <h5 class="card-title">您的可用余额：</h5>
                    <p class="card-text" th:text="${wallet.money}">余额</p>
                    <input type="number" id="money" name="money" replace="输入充值金额">
                    <a href="#" class="btn btn-primary pushmoney-btn">充值</a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script th:src="@{js/wallet.js}"></script>
</body>
</html>